@using GUI.Extensions
@using System.Globalization
@model List<Shared.DTOs.OrderItemDTO>
@section Styles {
<style>
    /*@@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/

    fieldset, label {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 20px;
    }

    h1 {
        font-size: 1.5em;
        margin: 10px;
    }

    /****** Style Star Rating Widget *****/

    .rating {
        border: none;
        float: left;
    }

        .rating > input {
            display: none;
        }

        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label {
            color: #FFD700;
        }
            /* hover previous stars in list */

            .rating > input:checked + label:hover, /* hover current star when changing rating */
            .rating > input:checked ~ label:hover,
            .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
            .rating > input:checked ~ label:hover ~ label {
                color: #FFED85;
            }
</style>

}
<main class="main">
    <div class="mb-4"></div><!-- End .mb-4 -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <h2 class="title mb-3">
                    <a href="#">
                        <i class="fas fa-user-circle"></i>
                        Account name
                    </a>
                </h2>
            </div>
            <div class="col-md-10">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <td id="product-col">Product</td>
                            <td id="quantity-col" style="font-size: 20px;">Quantity</td>
                            <td id="date-col" style="font-size: 20px;">Date</td>
                            <td id="price-col" style="font-size: 20px;">Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="mb-2" data-product="@item.ProductId">
                                <td>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="@Url.ProductImageUrl(item.Images)">
                                        </div>
                                        <div class="col-md-10">
                                            <a href="/product/index/@item.ProductId">
                                                <p>
                                                    @item.ProductName
                                                </p>
                                            </a>

                                        </div>
                                    </div>
                                </td>
                                <td id="quantity-col">
                                    @item.Quantity
                                </td>
                                <td id="date-col">
                                    @item.Created.ToString("dd/MM/yyyy hh:mm:ss tt")
                                </td>
                                <td id="price-col">
                                    @((item.Price * item.Quantity).ToString("N0", CultureInfo.InvariantCulture))
                                </td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#rating-modal">Rate & comment</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div><!-- End .col-md-12 -->
        </div>
    </div>
    <div class="mb-4"></div><!-- End .mb-4 -->
</main><!-- End .main -->
<!-- rating / comments Modal -->
<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="true">Rating & Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="rating" role="tabpanel" aria-labelledby="rating-tab">
                                <p>*Please rate before comment</p>
                                <fieldset class="rating" style="padding: 0 160px">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label class="full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                </fieldset>
                                <textarea class="form-control" rows="5" id="comment" style="resize: none"></textarea>
                                <button class="btn btn-primary">Send Feedback</button>
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
@section Scripts {
<script src="@Url.Content("~/assets/user/js/rating.js")"></script>
}