@model string
<div class="header-bottom sticky-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto col-lg-3 col-xl-3 col-xxl-2 header-left">
                <div class="dropdown category-dropdown is-on" data-visible="true">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                <li class="megamenu-container">
                                    <a class="sf-with-ul" href="#"><i class="icon-laptop"></i>Electronics</a>

                                    <div class="megamenu">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">Laptops & Computers</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Desktop Computers</a></li>
                                                                <li><a href="#">Monitors</a></li>
                                                                <li><a href="#">Laptops</a></li>
                                                                <li><a href="#">iPad & Tablets</a></li>
                                                                <li><a href="#">Hard Drives & Storage</a></li>
                                                                <li><a href="#">Printers & Supplies</a></li>
                                                                <li><a href="#">Computer Accessories</a></li>
                                                            </ul>

                                                            <div class="menu-title">TV & Video</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">TVs</a></li>
                                                                <li><a href="#">Home Audio Speakers</a></li>
                                                                <li><a href="#">Projectors</a></li>
                                                                <li><a href="#">Media Streaming Devices</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            <div class="menu-title">Cell Phones</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Carrier Phones</a></li>
                                                                <li><a href="#">Unlocked Phones</a></li>
                                                                <li><a href="#">Phone & Cellphone Cases</a></li>
                                                                <li><a href="#">Cellphone Chargers </a></li>
                                                            </ul>

                                                            <div class="menu-title">Digital Cameras</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Digital SLR Cameras</a></li>
                                                                <li><a href="#">Sports & Action Cameras</a></li>
                                                                <li><a href="#">Camcorders</a></li>
                                                                <li><a href="#">Camera Lenses</a></li>
                                                                <li><a href="#">Photo Printer</a></li>
                                                                <li><a href="#">Digital Memory Cards</a></li>
                                                                <li><a href="#">Camera Bags, Backpacks & Cases</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html" class="banner banner-menu">
                                                        <img src="@Url.Content("~/assets/user/images/demos/demo-13/menu/banner-1.jpg")" )" alt="Banner">
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu -->
                                </li>
                                <li class="megamenu-container">
                                    <a class="sf-with-ul" href="#"><i class="icon-couch"></i>Furniture</a>

                                    <div class="megamenu">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">Bedroom</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Beds, Frames & Bases</a></li>
                                                                <li><a href="#">Dressers</a></li>
                                                                <li><a href="#">Nightstands</a></li>
                                                                <li><a href="#">Kids' Beds & Headboards</a></li>
                                                                <li><a href="#">Armoires</a></li>
                                                            </ul>

                                                            <div class="menu-title">Living Room</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Coffee Tables</a></li>
                                                                <li><a href="#">Chairs</a></li>
                                                                <li><a href="#">Tables</a></li>
                                                                <li><a href="#">Futons & Sofa Beds</a></li>
                                                                <li><a href="#">Cabinets & Chests</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            <div class="menu-title">Office</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Office Chairs</a></li>
                                                                <li><a href="#">Desks</a></li>
                                                                <li><a href="#">Bookcases</a></li>
                                                                <li><a href="#">File Cabinets</a></li>
                                                                <li><a href="#">Breakroom Tables</a></li>
                                                            </ul>

                                                            <div class="menu-title">Kitchen & Dining</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#">Dining Sets</a></li>
                                                                <li><a href="#">Kitchen Storage Cabinets</a></li>
                                                                <li><a href="#">Bakers Racks</a></li>
                                                                <li><a href="#">Dining Chairs</a></li>
                                                                <li><a href="#">Dining Room Tables</a></li>
                                                                <li><a href="#">Bar Stools</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html" class="banner banner-menu">
                                                        <img src="@Url.Content("~/assets/user/images/demos/demo-13/menu/banner-2.jpg")" )" alt="Banner">
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu -->
                                </li>
                                <li class="megamenu-container">
                                    <a class="sf-with-ul" href="#"><i class="icon-concierge-bell"></i>Cooking</a>

                                    <div class="megamenu">
                                        <div class="menu-col">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="menu-title">Cookware</div><!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Cookware Sets</a></li>
                                                        <li><a href="#">Pans, Griddles & Woks</a></li>
                                                        <li><a href="#">Pots</a></li>
                                                        <li><a href="#">Skillets & Grill Pans</a></li>
                                                        <li><a href="#">Kettles</a></li>
                                                        <li><a href="#">Soup & Stockpots</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-4 -->

                                                <div class="col-md-4">
                                                    <div class="menu-title">Dinnerware & Tabletop</div><!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Plates</a></li>
                                                        <li><a href="#">Cups & Mugs</a></li>
                                                        <li><a href="#">Trays & Platters</a></li>
                                                        <li><a href="#">Coffee & Tea Serving</a></li>
                                                        <li><a href="#">Salt & Pepper Shaker</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-4 -->

                                                <div class="col-md-4">
                                                    <div class="menu-title">Cooking Appliances</div><!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">Microwaves</a></li>
                                                        <li><a href="#">Coffee Makers</a></li>
                                                        <li><a href="#">Mixers & Attachments</a></li>
                                                        <li><a href="#">Slow Cookers</a></li>
                                                        <li><a href="#">Air Fryers</a></li>
                                                        <li><a href="#">Toasters & Ovens</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->

                                            <div class="row menu-banners">
                                                <div class="col-md-4">
                                                    <div class="banner">
                                                        <a href="#">
                                                            <img src="@Url.Content("~/assets/user/images/demos/demo-13/menu/1.jpg")" alt="image">
                                                        </a>
                                                    </div><!-- End .banner -->
                                                </div><!-- End .col-md-4 -->

                                                <div class="col-md-4">
                                                    <div class="banner">
                                                        <a href="#">
                                                            <img src="@Url.Content("~/assets/user/images/demos/demo-13/menu/2.jpg")" alt="image">
                                                        </a>
                                                    </div><!-- End .banner -->
                                                </div><!-- End .col-md-4 -->

                                                <div class="col-md-4">
                                                    <div class="banner">
                                                        <a href="#">
                                                            <img src="@Url.Content("~/assets/user/images/demos/demo-13/menu/3.jpg")" alt="image">
                                                        </a>
                                                    </div><!-- End .banner -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .megamenu -->
                                </li>
                                <li class="megamenu-container">
                                    <a class="sf-with-ul" href="#"><i class="icon-tshirt"></i>Clothing</a>

                                    <div class="megamenu">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">Women</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#"><strong>New Arrivals</strong></a></li>
                                                                <li><a href="#"><strong>Best Sellers</strong></a></li>
                                                                <li><a href="#"><strong>Trending</strong></a></li>
                                                                <li><a href="#">Clothing</a></li>
                                                                <li><a href="#">Shoes</a></li>
                                                                <li><a href="#">Bags</a></li>
                                                                <li><a href="#">Accessories</a></li>
                                                                <li><a href="#">Jewlery & Watches</a></li>
                                                                <li><a href="#"><strong>Sale</strong></a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            <div class="menu-title">Men</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="#"><strong>New Arrivals</strong></a></li>
                                                                <li><a href="#"><strong>Best Sellers</strong></a></li>
                                                                <li><a href="#"><strong>Trending</strong></a></li>
                                                                <li><a href="#">Clothing</a></li>
                                                                <li><a href="#">Shoes</a></li>
                                                                <li><a href="#">Bags</a></li>
                                                                <li><a href="#">Accessories</a></li>
                                                                <li><a href="#">Jewlery & Watches</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html" class="banner banner-menu">
                                                        <img src="@Url.Content("~/assets/user/images/demos/demo-13/menu/banner-3.jpg")" alt="Banner">
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->

                                        <div class="menu-col menu-brands">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <a href="#" class="brand">
                                                        <img src="@Url.Content("~/assets/user/images/brands/1.png")" alt="Brand Name">
                                                    </a>
                                                </div><!-- End .col-lg-2 -->

                                                <div class="col-lg-2">
                                                    <a href="#" class="brand">
                                                        <img src="@Url.Content("~/assets/user/images/brands/2.png")" alt="Brand Name">
                                                    </a>
                                                </div><!-- End .col-lg-2 -->

                                                <div class="col-lg-2">
                                                    <a href="#" class="brand">
                                                        <img src="@Url.Content("~/assets/user/images/brands/3.png")" alt="Brand Name">
                                                    </a>
                                                </div><!-- End .col-lg-2 -->

                                                <div class="col-lg-2">
                                                    <a href="#" class="brand">
                                                        <img src="@Url.Content("~/assets/user/images/brands/4.png")" alt="Brand Name">
                                                    </a>
                                                </div><!-- End .col-lg-2 -->

                                                <div class="col-lg-2">
                                                    <a href="#" class="brand">
                                                        <img src="@Url.Content("~/assets/user/images/brands/5.png")" alt="Brand Name">
                                                    </a>
                                                </div><!-- End .col-lg-2 -->

                                                <div class="col-lg-2">
                                                    <a href="#" class="brand">
                                                        <img src="@Url.Content("~/assets/user/images/brands/6.png")" alt="Brand Name">
                                                    </a>
                                                </div><!-- End .col-lg-2 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-brands -->
                                    </div><!-- End .megamenu -->
                                </li>
                                <li><a href="#"><i class="icon-blender"></i>Home Appliances</a></li>
                                <li><a href="#"><i class="icon-heartbeat"></i>Healthy & Beauty</a></li>
                                <li><a href="#"><i class="icon-shoe-prints"></i>Shoes & Boots</a></li>
                                <li><a href="#"><i class="icon-map-signs"></i>Travel & Outdoor</a></li>
                                <li><a href="#"><i class="icon-mobile-alt"></i>Smart Phones</a></li>
                                <li><a href="#"><i class="icon-tv"></i>TV & Audio</a></li>
                                <li><a href="#"><i class="icon-shopping-bag"></i>Backpack & Bag</a></li>
                                <li><a href="#"><i class="icon-music"></i>Musical Instruments</a></li>
                                <li><a href="#"><i class="icon-gift"></i>Gift Ideas</a></li>
                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .col-xl-3 col-xxl-2 -->

            <div class="col col-lg-6 col-xl-6 col-xxl-8 header-center">
                <nav class="main-nav">
                    <ul class="menu">
                        <li class="@(Model == "home" ? "active" : "")">
                            <a href="/">Home</a>
                        </li>
                        <li class="@(Model == "shop" ? "active" : "")">
                            <a href="/brands">Shop</a>
                        </li>
                        <li class="@(Model == "product" ? "active" : "")">
                            <a href="/">Product</a>
                        </li>
                        <li>
                            <a href="https://emallsolution-admin.herokuapp.com/#about">Abount us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .col-xl-9 col-xxl-10 -->

            <div class="col col-lg-3 col-xl-3 col-xxl-2 header-right">
            </div>
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->
</div><!-- End .header-bottom -->