@using System.Globalization
@using GUI.Extensions
@model Shared.DTOs.ProductWithCommentsDTO
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container-fluid d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.ProductName</li>
            </ol>
        </div><!-- End .container-fluid -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6 col-lg-7">
                                <div class="product-gallery">
                                    <figure class="product-main-image">
                                        @* <span class="product-label label-sale">Sale</span>*@
                                        <img id="product-zoom" src="@Url.ProductImageUrl(Model.Images[0])" data-zoom-image="~/assets/user-official/images/products/single/fullwidth/3-big.jpg" alt="product image">
                                    </figure><!-- End .product-main-image -->

                                    <div id="product-zoom-gallery" class="product-image-gallery max-col-6">
                                        @foreach (var item in Model.Images)
                                        {
                                            <a class="product-gallery-item" href="#" data-image="@Url.ProductImageUrl(item)" data-zoom-image="@Url.ProductImageUrl(item)">
                                                <img src="@Url.ProductImageUrl(item)" alt="product side">
                                            </a>
                                        }
                                        @*<a class="product-gallery-item" href="#" data-image="@Url.Content("~/assets/user-official/images/products/single/fullwidth/2.jpg")" data-zoom-image="@Url.Content("~/assets/user-official/images/products/single/fullwidth/2-big.jpg")">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/2-small.jpg")" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item active" href="#" data-image="@Url.Content("~/assets/user-official/images/products/single/fullwidth/3.jpg")" data-zoom-image="@Url.Content("~/assets/user-official/images/products/single/fullwidth/3-big.jpg")">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/3-small.jpg")" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="@Url.Content("~/assets/user-official/images/products/single/fullwidth/4.jpg")" data-zoom-image="@Url.Content("~/assets/user-official/images/products/single/fullwidth/4-big.jpg")">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/4-small.jpg")" alt="product back">
                                            </a>*@
                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-lg-7 -->

                            <div class="col-md-6 col-lg-5">
                                <div class="product-details">
                                    <h1 class="product-title">@Model.ProductName</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        <span class="new-price">@(Model.Price.ToString("N0", CultureInfo.InvariantCulture))</span>
                                        <span class="old-price" style="text-decoration: line-through;">(@((Model.Price * (1 + Model.Discount / 100.0)).ToString("N0", CultureInfo.InvariantCulture)))</span>
                                    </div><!-- End .product-price -->
                                    @*<div class="product-content">
                                        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing. Sed lectus. </p>
                                        </div><!-- End .product-content -->*@

                                    <div class="details-filter-row details-row-size">
                                        <label>Color:</label>

                                        <div class="product-nav product-nav-thumbs">
                                            <a href="#" class="active">
                                                <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/1-thumb.jpg")" alt="product desc">
                                            </a>
                                            <a href="#">
                                                <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/2-thumb.jpg")" alt="product desc">
                                            </a>
                                            <a href="#">
                                                <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/3-thumb.jpg")" alt="product desc">
                                            </a>
                                            <a href="#">
                                                <img src="@Url.Content("~/assets/user-official/images/products/single/fullwidth/4-thumb.jpg")" alt="product desc">
                                            </a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Size:</label>
                                        <div class="select-custom">
                                            <select name="size" id="size" class="form-control">
                                                <option value="#" selected="selected">Select a size</option>
                                                <option value="s">Small</option>
                                                <option value="m">Medium</option>
                                                <option value="l">Large</option>
                                                <option value="xl">Extra Large</option>
                                            </select>
                                        </div><!-- End .select-custom -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        <a href="#" class="btn-product btn-cart" data-product="@Model.Id"><span>Add To Cart</span></a>
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">@Model.CategoryName</a>
                                        </div><!-- End .product-cat -->
                                        @*<div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            </div>*@
                                    </div><!-- End .product-details-footer -->

                                    <div class="accordion accordion-plus product-details-accordion" id="product-accordion">
                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-desc-heading">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-desc" aria-expanded="false" aria-controls="product-accordion-desc">
                                                        Description
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-desc" class="collapse" aria-labelledby="product-desc-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="product-desc-content">
                                                        <p>@Model.Description</p>
                                                        @*<ul>
                                                            <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                                            <li>Vivamus finibus vel mauris ut vehicula.</li>
                                                            <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                                            </ul>*@
                                                    </div><!-- End .product-desc-content -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->



                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-review-heading">
                                                <h2 class="card-title">
                                                    <a role="button" data-toggle="collapse" href="#product-accordion-review" aria-expanded="true" aria-controls="product-accordion-review">
                                                        Reviews (2)
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-review" class="collapse show" aria-labelledby="product-review-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="reviews">
                                                        @foreach (var item in @Model.Comments)
                                                        {
                                                            <div class="review">
                                                                <div class="row no-gutters">
                                                                    <div class="col-auto">
                                                                        <h4><a href="#">@item.UserName</a></h4>
                                                                        <div class="ratings-container">
                                                                            <div class="ratings">
                                                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                                        </div><!-- End .ratings -->
                                                                    </div><!-- End .rating-container -->
                                                                    <span class="review-date">@((DateTime.Now - item.CreatedDate).ToString(""))</span>
                                                                    </div><!-- End .col -->
                                                                <div class="col">
                                                                        <div class="review-content">
                                                                            <p>@item.Message</p>
                                                                        </div><!-- End .review-content -->
                                                                        </div><!-- End .review-action -->
                                                                </div><!-- End .col-auto -->
                                                            </div><!-- End .row -->                                                        
                                                            <!-- End .review -->
                                                        }
                                                    </div>
                                                    </div><!-- End .reviews -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-lg-5 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->
                </div><!-- End .col-xl-10 -->

                <aside class="col-xl-2 d-md-none d-xl-block">
                    <div class="sidebar sidebar-product">
                        <div class="widget widget-products">
                            <h4 class="widget-title">Related Product</h4><!-- End .widget-title -->

                            <div class="products">
                                <div class="product product-sm">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/sidebar/1.jpg")" alt="Product image" class="product-image">
                                        </a>
                                    </figure>

                                    <div class="product-body">
                                        <h5 class="product-title"><a href="product.html">Light brown studded <br>Wide fit wedges</a></h5><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$50.00</span>
                                            <span class="old-price" style="text-decoration: line-through;">$110.00</span>
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product product-sm -->

                                <div class="product product-sm">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/sidebar/2.jpg")" alt="Product image" class="product-image">
                                        </a>
                                    </figure>

                                    <div class="product-body">
                                        <h5 class="product-title"><a href="product.html">Yellow button front tea top</a></h5><!-- End .product-title -->
                                        <div class="product-price">
                                            $56.00
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product product-sm -->

                                <div class="product product-sm">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/sidebar/3.jpg")" alt="Product image" class="product-image">
                                        </a>
                                    </figure>

                                    <div class="product-body">
                                        <h5 class="product-title"><a href="product.html">Beige metal hoop tote bag</a></h5><!-- End .product-title -->
                                        <div class="product-price">
                                            $50.00
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product product-sm -->

                                <div class="product product-sm">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="@Url.Content("~/assets/user-official/images/products/single/sidebar/4.jpg")" alt="Product image" class="product-image">
                                        </a>
                                    </figure>

                                    <div class="product-body">
                                        <h5 class="product-title"><a href="product.html">Black soft RI weekend <br>travel bag</a></h5><!-- End .product-title -->
                                        <div class="product-price">
                                            $75.00
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product product-sm -->
                            </div><!-- End .products -->

                            <a href="category.html" class="btn btn-outline-dark-3"><span>View More Products</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .widget widget-products -->

                        <div class="widget widget-banner-sidebar">
                            <div class="banner-sidebar-title">ad box 280 x 280</div><!-- End .ad-title -->

                            <div class="banner-sidebar banner-overlay">
                                <a href="#">
                                    <img src="@Url.Content("~/assets/user-official/images/blog/sidebar/banner.jpg")" alt="banner">
                                </a>
                            </div><!-- End .banner-ad -->
                        </div><!-- End .widget -->
                    </div><!-- End .sidebar sidebar-product -->
                </aside><!-- End .col-xl-2 -->
            </div><!-- End .row -->

        </div><!-- End .container-fluid -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
@section Scripts {
<script src="@Url.Content("~/assets/user-official/js/productDetail.js")"></script>
}