@using GUI.Areas.User.ViewModels
@using GUI.Extensions
@{
    var keyword = (string)ViewBag.Keyword;
    var pageSize = (int)ViewBag.PageSize;
}
@section Styles {
<style>
    .shop-items {
        height: 100%
    }

    .shop-ava {
        height: 75%
    }

        .shop-ava > a {
            height: 100%;
        }

            .shop-ava > a > img {
                height: 100% !important
            }
        .page-item{
            background-color: #
        }
</style>
}
@model SearchResultViewModel
<main class="main">
    @await Component.InvokeAsync("HomePageSlider")
    <div class="mb-2"></div><!-- End .mb-2-->
    <div class="col-md-12">
        <h3 style="text-align: center;">Search results for: "<a href="#" style="color: #c96" ,>@ViewBag.Keyword</a>"</h3>
        <ul class="nav nav-tabs justify-content-center" id="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Shops</a>
            </li>
        </ul>
        <div class="tab-content tab-content-border" id="tab-content">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1-tab">
                <div class="container" style="width:100%">
                    <div class="row" style="text-align: center;">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-2" style="margin-right: 20px;">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-sale">Sale</span>
                                        <a href="/product/index/@product.Id">
                                            <img src="@Url.ProductImageUrl(product.Images[0])" alt="@product.Images[0]" class="product-image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#" onclick="return false;" class="btn-product btn-cart" title="Add to cart" data-product="@product.Id">
                                                <span>add to cart</span>
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">@product.CategoryName</a>
                                        </div>
                                        <h3 class="product-title"><a href="/product/index/@product.Id">@product.ProductName</a></h3>
                                        <div class="product-price">
                                            <span class="new-price">@product.Price</span>
                                            @if (product.Discount > 0)
                                            {
                                                <span class="old-price">Was $290.00</span>
                                            }
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @Html.RenderPagination(Model.Products, keyword, pageSize,
                        (keyword, pageNumber, pageSize) =>
                            $"https://localhost:3006/home/search?keyword={keyword}&pageNumber={pageNumber}&pageSize={pageSize}"
                    )
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2-tab">
                <div class="container" style="width:100%">
                    <div class="row" style="text-align: center;">
                        @foreach (var shop in Model.Shops)
                        {
                            <div class="col-2" style="margin-right: 20px;">
                                <div class="product shop-items">
                                    <figure class="product-media shop-ava">
                                        <a href="product.html">
                                            <img src="@Url.ShopImageUrl(shop.Image)" alt="Product image" class="product-image">
                                        </a>
                                        <div class="product-action">
                                            <a href="/shop/@shop.Id" class="btn-product" title="Go to shop"><span>go to shop</span></a>
                                        </div>
                                    </figure>
                                    <div class="product-body">
                                        <h3 class="product-title"><a href="product.html">@shop.Name</a></h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @Html.RenderPagination(Model.Shops, keyword, pageSize,
                    (keyword, pageNumber, pageSize) =>
                    $"http://localhost:3006/home/search?keyword={keyword}&pageNumber={pageNumber}&pageSize={pageSize}"
                    )
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" tabindex="+1" aria-disable="false">Next</a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div><!-- .End .tab-pane -->
        </div>
    </div>
    <div class="mb-4"></div><!-- End .mb-4 -->
</main><!-- End .main -->